{% extends '../master/_layout.html' %}

 {% block css %}
    <link rel="stylesheet" href="/statics/plugins/tab-menu-box/tab.css" />
    <!--<link rel="stylesheet" href="/statics/css/right.css" />-->
        <style>
            .content-l img{
                width: 100%;
            }
        </style>

{% end %}

{% block body %}
        <div style="background-color: #eee;">
            <div class="content-list" id="content_list">
                <div class="w body-content">

    <div class="clearfix">

        <div class="content-l" >
            {% for src in pic_list%}
                <img src="{{src}}"/>
            {% end %}

            <div class="item">
                <div class="null-item"></div>

                <div class="news-content">
                    <div class="part1">
                        <a href="/images/{{item[0]}}" class="show-content" target="_blank">{{item[1]}}</a>
                        <a href="javascript:void(0);" class="n2">
                            <span class="content-kind">{{item[6]}}</span>
                        </a>
                    </div>
                    <div class="area-summary">
                        <span class="summary">{{item[3]}}</span>
                    </div>
                    <div class="part2">
                        <a href="javascript:void(0);" class="digg-a" title="推荐" onclick="DoFavor(this,{{item[0]}});">
                            {% if item[9] %}
                                <span class="hand-icon icon-digg active"></span>
                            {% else %}
                                <span class="hand-icon icon-digg"></span>
                            {% end %}
                            <b id="favor_count_{{item[0]}}">{{item[7]}}</b>
                        </a>
                        <a href="javascript:void(0);" class="discus-a" onclick="ToggleCommentArea({{item[0]}});">
                            <span class="hand-icon icon-discus"></span>
                            <b id="comment_count_{{item[0]}}">{{item[8]}}</b>
                        </a>
                        <a href="javascript:void(0);" class="collect-a" onclick="fevic(this);">
                            <span class="hand-icon icon-collect">

                            </span><b>私藏</b>
                        </a>
                        <a href="#" class="user-a">
                            <span><img src="/statics/images/1.jpg"></span>
                            <b>{{item[5]}}</b>
                        </a>
                        <span class="time-into">
                            <a class="time-a" href="#" target="_blank">
                                <b>{{item[4].strftime("%Y-%m-%d %H:%M:%S")}}</b>
                            </a>
                            <i>入热榜</i>
                        </span>

                    </div>
                    <!-- 评论区域 -->
                    <div id="comment_area_{{item[0]}}" class="comment-box-area" >
                        <div class="pinglun arrow" id="comt-arrow-8118680"></div>
                        <a class="pinglun close-comt" title="关闭" href="javascript:void(0);" onclick="HideCommentArea({{item[0]}});"></a>

                        <div class="corner comment-box clearfix" >

                            <div class="loading-ico loading-ico-top"  style="margin-left:230px;">加载中，请稍候...</div>

                            <div class="comment-box-top hide" >
                                <div class="tip-1">最热评论(<span>{{item[8]}}</span>)</div>
                                <div class="tip-2">
                                    <a href="#" target="_blank">
                                        <em class="pinglun em1"></em>
                                        <span>去评论页面</span>
                                    </a>
                                </div>
                            </div>

                            <ul id="comment_list_{{item[0]}}" class="filetree comment-list-top-2 treeview hide">

                            </ul>

                            <div class="huifu-top-box hide">
                                <div class="box-l txt-input-area-div-top corner no-corner-bottom">
                                    <div class="lab-comment-top">回复  <span id="reply_id_{{item[0]}}"></span>:</div>
                                    <!-- 针对谣言文本输入框无效 -->
                                        <textarea id="comment_content_{{item[0]}}" maxlength="150" name="txt-huifu-top" class="txt-huifu txt-huifu-top"></textarea>
                                </div>
                                <div class="box-r">
                                    <a href="javascript:void(0);" class="pub-icons add-pub-btn add-pub-btn-unvalid" onclick="DoComment({{item[0]}})">评论</a>
                                    <a href="javascript:void(0);" class="loading-ico loading-ico-top pub-loading-top hide">发布中...</a>
                                </div>
                            </div>
                            <div class="tip-3 ">
                                <a href="javascript:void(0);" class="hiddenCom-Btn" onclick="HideCommentArea({{item[0]}});">
                                    <em class="pinglun em2"></em>
                                    <span>收起</span>
                                </a>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="content-r">

        </div>
    </div>
</div>
            </div>
        </div>
{% end %}

{% block javascript %}
        <script>
       $(function () {
           ToggleCommentArea({{item[0]}});
        });

        // 发布聊天信息!!!!!
        function pl_push() {
            var pl_tex = $("#pl_text").val();
            $.ajax({
                url: "/pl_push",
                type: "POST",
                data: {"text": pl_tex},
                dataType: 'json',
                success: function(arg){
                    if (arg){
                        alert("成功" + pl_tex)
                    }else{
                        alert("失败"+pl_tex)
                    }
                }
            })
        }

        function BindPublishSubmit(){
            $('#submit_link,#submit_text,#submit_img').click(function(){
                // 获取输入内容并提交
                var container = $(this).parent().parent();
                var post_dict = {};
                container.find('input[type="text"],textarea').each(function(){
                    post_dict[$(this).attr('name')] =$(this).val();
                });
                post_dict['news_type_id'] = container.find('.news-type .active').attr('value');

                $.ajax({
                    url: '/index/',
                    type: 'POST',
                    data: post_dict,
                    dataType: 'json',
                    success: function (arg) {
                        if(arg.status){
                            window.location.href = '/index/';
                        }else{
                            console.log(arg);
                        }
                    }
                })
            });
        }

        function BindNewType(){
            $('.news-type').children().click(function(){
                $(this).addClass('active').siblings().removeClass('active');
            });
        }

        function BindSendMsg(){
            $("#fetch_code").click(function(){
                $('#register_error_summary').empty();
                var email = $('#email').val();
                if(email.trim().length == 0){
                    $('#register_error_summary').text('请输入注册邮箱');
                    return;
                }
                if($(this).hasClass('sending')){
                    return;
                }
                var ths = $(this);
                var time = 60;

                $.ajax({
                    url: "/send_msg",
                    type: 'POST',
                    data: {email: email},
                    dataType: 'json',
                    success: function(arg){
                        if(!arg.status){
                            $('#register_error_summary').text(arg.summary);
                        }else{
                            ths.addClass('sending');
                            var interval = setInterval(function(){
                            ths.text("已发送(" + time + ")");
                            time -= 1;
                            if(time <= 0){
                                clearInterval(interval);
                                ths.removeClass('sending');
                                ths.text("获取验证码");
                            }
                        }, 1000);
                        }
                    }
                });

            });
        }

        function BindLoginRegisterDialog(){

            $('#reg_link_a,#login_link_a').click(function(){
                $('#accountDialog').removeClass('hide');
                $('.shadow').removeClass('hide');
            });
        }

        function BindPublishDialog(){

            $('#publishBtn').click(function(){
                if($('#action_nav').attr('is-login') == 'true'){
                    $('#publishDialog').removeClass('hide');
                }else{
                    $('#accountDialog').removeClass('hide');
                }

                $('.shadow').removeClass('hide');
            });

        }

        function CloseDialog(dialog){
            $(dialog).addClass('hide');
            $('.shadow').addClass('hide');
        }

        window.onkeydown = function(event){
            if(event && event.keyCode == 27){
                $('.dialog,.account-dialog,.shadow').addClass('hide');
            }
        };


        /*
        显示或隐藏评论区
         */
        function ToggleCommentArea(nid){
            var $comment_area = $("#comment_area_" + nid);
            if($comment_area.hasClass('hide')){
                $comment_area.removeClass('hide');
                var $comment_list = $("#comment_list_" + nid);
                $.ajax({
                    url: '/comment',
                    type: 'GET',
                    data: {nid: nid},
                    success: function(arg){
                        $comment_list.empty();
                        $comment_list.append(arg);
                        var $loading = $comment_area.find('.comment-box').children().first();
                        $loading.addClass('hide');
                        $loading.siblings().removeClass('hide');
                    }
                })
            }else{
                $comment_area.addClass('hide');
            }
        }

        /*
        隐藏评论区
         */
        function HideCommentArea(nid){
            $("#comment_area_" + nid).addClass('hide');
        }

        /*
        发布评论
         */
        function DoComment(nid){
            var content = $("#comment_content_"+nid).val();
            var reply_id = $("#reply_id_"+nid).attr('target');

            if($('#action_nav').attr('is-login') == 'true'){
                $.ajax({
                    url: '/comment',
                    type: 'POST',
                    data: {content: content, reply_id:reply_id, news_id: nid},
                    dataType: 'json',
                    success: function(arg){
                        // 获取评论信息，将内容添加到指定位置
                        console.log(arg);
                        if(arg.status){
                            $('#comment_content_' + arg.data.news_id).val('');
                            var a = '<ul><li class="items" style="padding:8px 0 0 16px;"><span class="folder" id="comment_folder_';
                            var b = arg.data.nid;
                            var c = '"><div class="comment-L comment-L-top"><a href="#" class="icons zhan-ico"></a><a href="/user/moyujian/submitted/1">' +
                                    '<img src="/statics/images/1.jpg" strle="width:15px !improtant"></a></div>' +
                                    '<div class="comment-R comment-R-top" style="background-color: rgb(246, 246, 246);"><div class="pp"><a class="name" href="/user/moyujian/submitted/1">';
                            var d = arg.data.username;
                            var e = '</a><span class="p3">';
                            var f = arg.data.content;
                            var g= '</span><span class="into-time into-time-top">';
                            var h = arg.data.ctime;
                            var i = '</span></div><div class="comment-line-top"><div class="comment-state"><a class="ding" href="javascript:void(0);"><b>顶</b><span class="ding-num">[0]</span></a><a class="cai" href="javascript:void(0);"><b>踩</b><span class="cai-num">[0]</span></a><span class="line-huifu">|</span> <a class="see-a jubao" href="javascript:void(0);">举报</a> <span class="line-huifu">|</span> <a class="see-a huifu-a" href="javascript:void(0);" onclick="';
                            var j = "reply(" + arg.data.news_id + "," +arg.data.nid+",'"+arg.data.username+"')";
                            var k = '">回复</a></div></div></div></span></li></ul>';
                            var tag = a+b+c+d+e+f+g+h+i+j+k;
                            console.log(arg,tag);
                            if(arg.data.reply_id){
                                $comment_folder = $('#comment_folder_' + arg.data.reply_id);
                                $comment_folder.after(tag);
                            }else{
                                $('#comment_list_'+arg.data.news_id).append(tag);
                            }


                        }else{
                            alert('error');
                        }
                    }
                })
            }else{
                $('#accountDialog').removeClass('hide');
                $('.shadow').removeClass('hide');
            }
        }

        /*
        点赞
         */
        function DoFavor(ths, nid) {

            if($('#action_nav').attr('is-login') == 'true'){
                $.ajax({
                    url: '/favor',
                    type: 'POST',
                    data: {news_id: nid},
                    dataType: 'json',
                    success: function(arg){
                        if(arg.status){
                            var $favorCount = $('#favor_count_'+nid);
                            var c = parseInt($favorCount.text());
                            if(arg.code == 2301){
                                $favorCount.text(c + 1);
                                $(ths).find('span').addClass('active');
                                AddFavorAnimation(ths);
                            }else if(arg.code == 2302){
                                $favorCount.text(c - 1);
                                $(ths).find('span').removeClass('active');
                                MinusFavorAnimation(ths);
                            }else{

                            }

                        }else{

                        }
                    }
                })
            }else{
                $('#accountDialog').removeClass('hide');
                $('.shadow').removeClass('hide');
            }
        }

        /*
        点赞+1效果
         */
        function AddFavorAnimation(ths){
            var offsetTop = -10;
            var offsetLeft = 20;
            var fontSize = 24;
            var opacity = 1;
            var tag = document.createElement('i');
            tag.innerText = "+1";
            tag.style.position = 'absolute';
            tag.style.top = offsetTop + 'px';
            tag.style.left = offsetLeft + 'px';
            tag.style.fontSize = fontSize + "px";
            tag.style.color = "#5cb85c";
            $(ths).append(tag);

            var addInterval = setInterval(function(){
                    fontSize += 5;
                    offsetTop -= 15;
                    offsetLeft += 5;
                    opacity -= 0.1;
                    tag.style.top = offsetTop+ 'px';
                    tag.style.left = offsetLeft+ 'px';
                    tag.style.fontSize = fontSize + 'px';
                    tag.style.opacity = opacity;
                if(opacity <= 0.5){
                    tag.remove();
                    clearInterval(addInterval);
                }
            },40)
        }

        /*
        点赞-1效果
         */
        function MinusFavorAnimation(ths){
            var offsetTop = -10;
            var offsetLeft = 20;
            var fontSize = 24;
            var opacity = 1;
            var tag = document.createElement('i');
            tag.innerText = "-1";
            tag.style.position = 'absolute';
            tag.style.top = offsetTop + 'px';
            tag.style.left = offsetLeft + 'px';
            tag.style.fontSize = fontSize + "px";
            tag.style.color = "#787878";
            $(ths).append(tag);

            var addInterval = setInterval(function(){
                    fontSize += 5;
                    offsetTop -= 15;
                    offsetLeft += 5 ;
                    opacity -= 0.1;
                    tag.style.top = offsetTop+ 'px';
                    tag.style.left = offsetLeft+ 'px';
                    tag.style.fontSize = fontSize + 'px';
                    tag.style.opacity = opacity;
                if(opacity <= 0.5){
                    tag.remove();
                    clearInterval(addInterval);
                }
            },40)
        }

        /**
         * 回复评论
         * @param news_id
         * @param comment_id
         * @param username
         */
        function reply(news_id, comment_id, username){
            var $reply = $('#reply_id_' + news_id);
            $reply.attr('target', comment_id);
            $reply.text(username);
            $reply.parent().css('display','block');
        }
        </script>
{% end %}

